* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.layers {
  position: relative;
}

.layer {
  position: absolute;
  height: 100%;
  width: 100%;
}

.cell {
  border: 1px solid gray;
}

.card {
  position: absolute;
  background-color: gray;
  overflow-y: scroll;
  overflow-x: hidden;
}




.edge {
  width: 100%;
  background-color: black;
  height: 8px;
  padding: 0px;
  color: white;
  text-align: center;
  font-size: 8px;
}

.edge-top {
  cursor: row-resize;
}
